name: test-on-push
on: [push]
jobs:
  checkfixup:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: make checkfixup

  checkformatting:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: make env
      - run: make checkformatting

  checkmigrations:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: make env
      - run: make checkmigrations

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: make env
      - run: make test
      - run: make test-coverage-report
      - name: Upload test coverage report
        uses: actions/upload-artifact@v6
        with:
          name: test-coverage-report
          path: htmlcov
